body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#canvas {
    background-color: burlywood;
    width: 50%;
    height: 400px;
}
.pad{
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}
.deplacement{
    display: grid;
    grid-template-areas:
    "h h"
    "g d"
    "b b";
    grid-template-columns:150px 150px;
    /*grid-template-rows: 25px  25px;*/
    grid-gap:10px;
}
.h{
    grid-area:h;
}

.b{
    grid-area:b;
}
.g{
    grid-area:g;
}
.d{
    grid-area:d;
}